/* .menu{
    position: absolute;
    top: 2rem; right: -310%;
    border: 1px solid black;
   width: 15rem; 
   height: 20rem;
   display: flex;
   justify-content: center;
   align-items: center;
} */