.card{
    margin-top: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:270px;
    background: skyblue;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 20px;
    height: 180px;
}
.card-image{
  width: 100px;
  
}