.left-heading{
    margin-top: 10px;
}

.home-main{
    display: flex;
    justify-content: space-around;
}

.home-card{
    display: flex;
    flex-wrap: wrap;
    min-width: 220px;
    justify-content: start;
    flex-wrap: auto;
}
.home-heading{
    margin-top: 100px;
    margin-left: 20px;
    margin-bottom: 30px;
    
}
.home-right{
    width: 400px;
    margin-left: 30px;
    
    
}
.hline{
    width:5px;
    height: 100%;
    background-color:lightblue;
} 




