.left-heading{
    margin-top: 10px;
}

.home-main{
    display: flex;
    margin: 1rem;
}

.home-main .home-left{
    flex-basis: 70%;
}

.home-main .home-left .home-heading-pink-community{
    margin: 2rem 1rem 1rem 1rem;
    color: #f164d3;
    font-size: 2rem;
}

.home-main .home-left .home-card-pink-community{
    padding-bottom: 2rem;
    border-bottom: 2px solid rgb(1, 46, 61); 
}

.home-main .home-left .home-heading-upcoming-contest{
    margin: 2rem 1rem 1rem 1rem;
    color: #042f78;
    font-size: 2rem;
}

.home-main .home-right{
    flex-basis: 29%;
    margin: 1rem;
}


