.practise-heading{
    text-align: center;
    margin: 3rem .5rem 1.5rem .5rem;
    font-weight: bold;
    color: rgb(5, 87, 87);
    font-size: 2.6rem;
}
.practise{
    margin: 4em ;
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* min-width: 200px; */
    /* margin-left: 17vw; */
    /* margin-right: 10vw; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem,1fr));
    gap: 1rem;  

}

@media (max-width: 479px) {
    .practise{
        margin: 2em ;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(12rem,1fr));
        gap: 1rem;  
    }
}    